.recipes {
  padding-top: 9rem;
  padding-bottom: 5rem;
  display: grid;
  max-width: 126rem;
  margin: 0 auto;
  grid-template-columns: 30rem 30rem 30rem 30rem;
  grid-gap: 5rem;
  column-gap: 2rem;
}

.recipes .recipe {
  width: 25rem;
  height: 30rem;
  border-radius: 2rem;
  background: orange;
}

.recipes .recipe a,
.recipes .recipe a:link,
.recipes .recipe a:visited {
  text-decoration: none;
  color: #000000;
}

.recipes .recipe img {
  border-radius: 2rem 2rem 0 0;
  height: 21rem;
  width: 25rem;
}

.recipes .recipe h2 {
  padding: 1.5rem 1.5rem;
  color: #ffffff;
  text-align: center;
}

.recipes h1 {
    text-align: center;
}

.no--recipe__msg {
  margin: 15rem auto 0 auto;
  text-align: center;
  background: #ffa801;
  width: 65rem;
  padding: 10rem;
  color: white; 
  font-size: 1.5rem;
  border-radius: 2.5rem;
}