.header {
  position: relative;
}

.header .header-title_form h1 {
  font-size: 4.5rem;
}

.header-title_form {
  padding: 1rem 0 0 7rem;
}

.header__logo img {
  height: 3.5rem;
}

.header .image {
  background: #ffa801;
  height: 27rem;
  width: 24rem;
  padding: 3rem 2rem;
  top: 0;
  right: 21rem;
  position: absolute;
}

.header .image img{
  height: 20rem;
  color: #ffaa0d;
}
